body {
  background: #111;
   color: #bbb;
  font-family: Lexend Deca, Cantarell, sans-serif;
  line-height: 1.5;
  margin: 0 auto;
  max-width: 40em;
  padding: 0 1em;
}
h1, h2, h3, h4, h5, h6 {
  margin: 1.25em 0 0.5em 0;
  line-height: 1.2;
}
a:link {
  color: #9bf;
}
a:visited {
  color: #caf;
}
a:focus, a:hover {
  color: #9cf;
}
a:active {
  color: #f99;
}
h1 a:empty:before, h2 a:empty:before, h3 a:empty:before,
h4 a:empty:before, h5 a:empty:before, h6 a:empty:before {
  content: "#";
}
h1 a:empty, h2 a:empty, h3 a:empty, h4 a:empty, h5 a:empty, h6 a:empty {
  visibility: hidden;
  padding-left: 0.25em;
}
h1:hover a:empty, h2:hover a:empty, h3:hover a:empty,
h4:hover a:empty, h5:hover a:empty, h6:hover a:empty {
  visibility: visible;
}
img {
  max-width: 100%;
}
figure {
  margin: 1em 0;
  text-align: center;
}
figcaption {
  font-size: small;
}
pre, code, samp, kbd {
  font-family: monospace, monospace;
}
pre, code, kbd {
  color: #9c6;
  font-family: monospace, monospace;
}
samp {
  color: #db0;
}
pre, blockquote {
  background: #000;
  padding: 0.5em;
}
pre {
  overflow: auto;
}
blockquote {
  border-left: medium solid #ccc;
  border-color: #333;
  margin: 1em 0;
}
blockquote :first-child {
  margin-top: 0;
}
blockquote :last-child {
  margin-bottom: 0;
}
table {
  border-collapse: collapse;
}
th, td {
  border: thin solid #666;
  padding: 0.3em 0.4em;
  text-align: left;
}

#cat { display: inline; }
#links img { height: 1.25em; }
h1 img { height: 1em; }
a img:hover {
	transition: .15s;
	transform: scale(2, 2);
}
.entry h2 { margin: 5px auto 2px auto; }
.entry small { color: #ebdbb2; }
.entry {
	padding: 10px;
	border-radius: 0 5px 18px 0;
	margin-bottom: 50px;
	background: #1d2021;
	border: 1px solid #cc241d;
	border-left: 10px solid #689d6a;
}
.even img  {
	padding: 20px;
	/* padding-top: 1em; */
	float: right;
	max-width: 400px;
	max-height: 225px;
}
.odd img {
	padding: 20px;
	/* padding-top: 1em; */
	float: left;
	max-width: 400px;
	max-height: 225px;
}
